.login-header{
    background: var(--theme-color);
}
.login-header{
    position: relative;
    background: var(--theme-color);
    border-radius: 0em;
}

.login-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--theme-color);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.logo-img {
    display: block;
    width: 140px;
    margin: 0 auto;
    text-align: center;
}

[heading-column-1r]{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

[big-heading]{
    padding-top: 50px;
    font-family: "Heebo-Bold" !important;
    font-size: 30px !important;
    color: var(--theme-black);

}

[small-heading]{
    font-family: "Heebo-Regular" !important;
    margin-left: auto;padding-right: 40px; font-size: 15px

}

ion-label{
    color:#000;
    opacity: .8;
    font-size: 13px;
    display: block;
}

ion-content{
    --background: #fafafa;

}

[transparent]{
    --background: transparent;

}
ion-input{
    --color: #000;
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 5px;
    font-size: 15px;
    text-indent: 1px;
    padding-left: 10px !important;
}
[icon-small]{
    width: 30px;
}
ion-item{
    --highlight-color-focused:transparent;
    --highlight-height:0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --min-height: 65px;
    --padding-start:0;

}
[linespace]{
    height: 30px;
}
ion-button-class1{
    color: var(--theme-color);
}